.flex-container {
  display: flex;
  flex-direction: row;
  background-color: dodgerblue;
  justify-content: space-between;
  align-items: stretch;
  height: 200px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}
