.flex-container {
  display: flex;
  background-color: gold;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: blueviolet;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 50px;
}